@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    border: solid red 2px;
}
.containerHTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4% 5% 7% 5%;
}